#textArea{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 2px solid red;
}
#textPara{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    bottom: -20px;
    display: inline-block;
}
#startBtn{
    font-size: 25px;
    width: 200px;
    padding: 0px;
    display: inline-block;
}
#startHeading{
    display: inline-block;
    position: relative;
    top: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid red;
    border-radius: 3px;
}
#startHeading2{
    background-color: rgb(225, 225, 225);
    border-radius: 3px;
}
#forStart{
    text-align: center;
    position: relative;
    bottom: -29px;
}
#falseTextArea{
    border: 2px solid red;
    height: 290px;
}
